<!DOCTYPE html>
<html>

    <head>

        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    
    

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-127859074-5"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-127859074-5');
        </script>
          <!-- Google Analytics -->
    <script>
        window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
        ga('create', 'UA-127859074-5', 'auto');
        ga('send', {
                      hitType: 'event',
                      eventCategory: `covidView - ${new Date()}`,
                      eventAction: 'loadHomepage',
                      eventLabel: 'Sample custom data'
                    });
        </script>
    <!-- End Google Analytics -->
    
    </head>
    <body>
        <div>
            <img src="static/covid.png" class="covidimg" id="cvimg">
        </div>
        <div class='container-fluid'>
        <div class="row">
            <div class="col-12" style="text-align: center;">
            <h1>Covid Data<br></h1></div>
        </div>

            <div class="row">
                <div class="col-6" style="text-align: center;">
                    <img src='static/covid.gif' id='cvgif' alt="Covid Time Lapse">
                    <div>
                        <span>Last Refresh</span>
                        <span id='lastRefresh'></span>
                    </div>
                </div>
                <div class="col-6">
                    <table id="statsTable" style="width:500px"></table>
                </div>
            </div>
        </div>
    </body>    
    <script src="static/covidsvg.js"></script>
    <script src="static/app.js"></script>
    <link rel="stylesheet" href="static/style.css">
</html>